<div id="<%= dom_id order %>">
  <p>
    <strong>Customer:</strong>
    <%= order.customer.full_name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= order.description %>
  </p>

</div>
